<form action="/greetings" method="post">

    <%= token_tag %>
    <label for="name"></label>
    <input name="name" id="name" type="text" placeholder="Ingresa tu nombre"/>
    <br />
    <input type="submit" name="submit" value="Saludar"/>
</form>